<ion-side-menus>

  <ion-side-menu-content ng-controller="NavController">

    <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="tab" animation="slide-left-right"></ion-nav-view>

  </ion-side-menu-content>
  <ion-side-menu side="left" ng-controller="NavController">

    <ion-header-bar class="bar bar-header bar-energized">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content has-header="true">
      <ul class="list">
        <a ui-sref="tab.home" nav-clear class="item item-icon-left item-icon-right" ng-click="toggleLeft()">
          <i class="icon ion-home"></i>
          Acceuil
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a ui-sref="tab.search" nav-clear class="item item-icon-left item-icon-right" ng-click="toggleLeft()">
          <i class="icon ion-ios-search"></i>
          Recherche
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

      </ul>
    </ion-content>
    <ion-footer-bar class="bar bar-footer light energized-bg">
      <p>Remise sport &copy; tous droits réservés</p>
    </ion-footer-bar>

  </ion-side-menu>
</ion-side-menus>
