<ion-list>
  <ion-item class="item-input item-light item-select">
    <span class="input-label">Taille</span>
    <select  ng-model="selectedProduct.size">
      <option ng-init="selectedProduct.size = data.options[0].size" ng-repeat="op in data.options" value="{{op.size}}">{{op.size}}</option>
    </select>
  </ion-item>

  <ion-item class="item-input item-light">
    <span class="input-label">Quantité</span>
    <input type="number" placeholder="1" ng-model="selectedProduct.qte" min="1"/>
  </ion-item>
</ion-list>

