/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/


$energized:                       #2c3e50 !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";



.pull-right{
  float: right;
}
.button-halfwidth{
  width: 49%;
}
.button-fullwidth{
  width: 100%;
}
/*
* Main page style
*
*/
.main{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;

}
.rootcontainer{
  margin: auto;
}

.rootcontainer h1{
  font-family:Georgia,serif;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 100;
  font-size: 1.7em;
  color: #f2f2f2;
  background: #ff4a4a;
  padding: 10px;
}

  .rootcontainer p:first-letter{
    text-transform: uppercase;
  }
  .rootcontainer p {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    text-transform: lowercase;
    font-size: 1.3em;
    font-variant: small-caps;
  }

.imglogo{
  margin-left: auto;
  margin-right: auto;

}
.circular {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.circular img {
  opacity: 1;
  filter: alpha(opacity=0);
}

.logocircular{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  margin-left: 2px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
