.pull-right{
  float: right;
}
.button-halfwidth{
  width: 49%;
}
.button-fullwidth{
  width: 100%;
}
.badge{
  margin-top: 20px;
  border-radius: 10%;
  padding: 2px 4px 2px 4px;
}
.main{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 250px;
}
.main h1, .main h2{
  font-size: 18px;
  text-align: center;
}
.main h3{
  font-size: 24px;
  text-align: center;

}

.imglogo{
  width: 200px;
  margin-left: auto;

}
.circular {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.circular img {
  opacity: 1;
  filter: alpha(opacity=0);
}

