<ion-view>

  <ion-content scroll="false" class="main energized-bg" ng-controller="rootCtrl" ng-cloak>
    <div class="rootcontainer">
      <div class="imglogo"><img class="circular" ng-src="imgs/rs.jpg"/></div>
      <h1 class="light"> REMISE SPORT</h1>
      <p class="light">Vente d'articles de sport</p>
    </div>
  </ion-content>
</ion-view>
