<ion-view title="Acceuil">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <img class="logocircular" ng-src="imgs/rs.jpg"/>
    </ion-nav-buttons>


    <ion-content class="has-footer has-header" padding="true" ng-controller="ProductCtrl">

        <ion-refresher
                pulling-text="Nouveau produits ..."
                ng-show="data.oldData"
                immediate-check="false"
                spinner="bubbles"
                on-pulling="loadOldData()">
        </ion-refresher>

        <!-------     List of products         ------->

        <ion-list class="card" id="top" ngCloak>
            <ion-item ng-repeat="product in data.productList">
                <div>
                    <h2>{{product.name}}</h2>
                    <p>{{product.brand}}</p>
                    <p>Prix: <del class="assertive" ng-if="product.promotion > 0">{{product.price}}</del>
                        <span ng-if="product.promotion == 0">{{product.price}}</span>
                        &nbsp;<strong ng-if="product.promotion > 0">{{product.price - ((product.price * product.promotion) / 100)}} DZD</strong> </p>
                    <span class="badge badge-balanced " ng-if="product.promotion > 0">{{product.promotion}}%</span>
                </div>
                <div class="item-image ">
                    <img ng-src="{{product.images}}" class="full-image" >
                </div>

                <button class="button button-block  icon-left ion-android-add-circle button-energized" ng-click="showPopup(product)">
                    Achetez Maintenant
                </button>
            </ion-item>
        </ion-list>


        <!-------     Loading more products          ------->


        <ion-infinite-scroll
                on-infinite="loadMoreData()"
                ng-show="data.moreData"
                distance="1%"
                immediate-check="false"
                spinner="bubbles">
        </ion-infinite-scroll>

    </ion-content>


    <!-------      Navigation tab         ------->

    <ion-tabs class="tabs-icon-top tabs-stable" ng-controller="tabCtrl">
        <ion-tab  title="Acceuil" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tab.home"></ion-tab>
        <ion-tab  title="Recherche" icon-on="ion-ios-search-strong" icon-off="ion-ios-search"  ui-sref="tab.search"></ion-tab>
        <ion-tab title="Panier" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="tab.order" disabled="tabStatus"></ion-tab>
    </ion-tabs>


</ion-view>
