<ion-view title="Rechercher">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <img class="logocircular" ng-src="imgs/rs.jpg"/>
    </ion-nav-buttons>

    <ion-content  class="has-footer has-header" padding="true" ng-controller="SearchCtrl" ng-cloak>

        <!-------     Search form         ------->
        <ion-list>
            <ion-item>
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="searchInfos.term">
                </label>
            </ion-item>

            <ion-item>
                <label class = "item item-input item-select item-light">
                    <div class = "input-label">Marque</div>
                    <select ng-options=" key as value for (key , value) in searchOptions.brand" ng-model="searchInfos.brand">
                        <option value=""></option>
                    </select>
                </label>
            </ion-item>

            <ion-item>
                <label class = "item item-input item-select item-light">
                    <div class = "input-label">Catégorie</div>
                    <select ng-options=" key as value for (key , value) in searchOptions.category"  ng-model="searchInfos.category">
                        <option value=""></option>
                    </select>
                </label>
            </ion-item>

            <ion-item>
                <label class = "item item-input item-select item-light">
                    <div class = "input-label">Promotion</div>
                    <select ng-options=" key as value for (key , value) in searchOptions.promotion"  ng-model="searchInfos.promotion">
                        <option value=""></option>
                    </select>
                </label>
            </ion-item>

            <ion-item>
                <label class = "item item-input item-select item-light">
                    <div class = "input-label">Pour</div>
                    <select ng-options=" key as value for (key , value) in searchOptions.gender"  ng-model="searchInfos.gender">
                        <option value=""></option>
                    </select>
                </label>
            </ion-item>

            <ion-item>
                <label class = "item item-input item-select item-light">
                    <div class = "input-label">Taille</div>
                    <select ng-options=" key as value for (key , value) in searchOptions.size" ng-model="searchInfos.size[0]">
                        <option value=""></option>
                    </select >
                </label>
            </ion-item>

            <ion-item>
                <button class="button button-block button-energized icon icon-left ion-search" ng-click="search()">Chercher</button>
            </ion-item>
        </ion-list>
    </ion-content>

    <!-------     Navigation tab         ------->
    <ion-tabs class="tabs-icon-top tabs-stable" ng-controller="tabCtrl">
        <ion-tab  title="Acceuil" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tab.home"></ion-tab>
        <ion-tab  title="Recherche" icon-on="ion-ios-search-strong" icon-off="ion-ios-search"  ui-sref="tab.search"></ion-tab>
        <ion-tab title="Panier" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="tab.order" disabled="tabStatus"></ion-tab>
    </ion-tabs>

</ion-view>
