<ion-view title="Commander">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <img class="logocircular" ng-src="imgs/rs.jpg"/>
    </ion-nav-buttons>

    <ion-content ng-controller="OrderCtrl" class="has-footer has-header" padding="true" ngCloak>

        <!-------     Form instructions         ------->

        <ion-list class="card">
            <ion-item class="item-text-wrap item-icon-left">
                <i class="icon ion-android-alert positive"></i>
                <p> - Veuillez saisir vos coordonnés avant de passer votre commande.</p>
                <p> - les champs avec (*) sont obligatoires.</p>
            </ion-item>
        </ion-list>

        <!-------     Client form          ------->

        <ion-list>
            <form name="myForm" novalidate>
                <ion-item>
                    <label class="item item-input">
                        <span class="input-label">Nom *</span>
                        <input type="text" ng-model="clientInfos.name" ng-minlength="5"  ng-maxlength="50" name="name" required>
                    </label><br/>
                    <p ng-show="myForm.name.$error.required && !myForm.name.$pristine"><span class="assertive">* Nom est obligatoire</span></p>
                    <p ng-show="myForm.name.$error.minlength"><span class="assertive">* Nom doit dépasser 5 caractères</span></p>
                </ion-item>

                <ion-item>
                    <label class="item item-input">
                        <span class="input-label">Telephone *</span>
                        <input type="tel" ng-model="clientInfos.phone"  ng-pattern="format.telFormat" name="tel" required>
                    </label><br/>
                    <p ng-show="myForm.tel.$error.required && !myForm.tel.$pristine"><span class="assertive">* Numéro téléphone obligatoire</span></p>
                    <p ng-show="myForm.tel.$error.pattern"><span class="assertive">* téléphone invalide !</span></p>
                </ion-item>

                <ion-item>
                    <label class="item item-input">
                        <span class="input-label">Email *</span>
                        <input type="email" ng-model="clientInfos.email" name="email" ng-pattern="format.emailFormat" required>
                    </label><br/>
                    <p ng-show="myForm.email.$error.required && !myForm.email.$pristine"><span class="assertive">* Email obligatoire</span></p>
                    <p ng-show="myForm.email.$error.pattern"><span class="assertive">* Email invalide !</span></p>
                </ion-item>

                <ion-item>
                    <label class="item item-input">
                        <textarea placeholder="Adresse *" ng-model="clientInfos.adress" name="adresse" required></textarea>
                    </label><br/>
                    <p ng-show="myForm.adresse.$error.required && !myForm.adresse.$pristine"><span class="assertive">* Adresse obligatoire</span></p>
                </ion-item>

                <ion-item>
                    <label class="item item-input item-select item-light">
                        <span class="input-label">Wilaya *</span>
                        <select
                                ng-options="wilaya.name for wilaya in wilayas" ng-change="getDairas(wilaya.id,wilaya.promotion,wilaya.coast) "  ng-model="wilaya" name="wilaya" required>
                        </select>
                    </label><br/>
                    <p ng-show="myForm.wilaya.$error.required"><span class="assertive">* Wilaya obligatoire</span></p>
                </ion-item>

                <ion-item>
                    <label class="item item-input item-select item-light">
                        <span class="input-label">Daira *</span>
                        <select
                                ng-model="daira"
                                ng-options="daira.name for daira in dairas.dairas" ng-change="getCommunes(daira.id)" name="daira" required>
                        </select>
                    </label><br/>
                    <p ng-show="myForm.daira.$error.required"><span class="assertive">* Daira obligatoire</span></p>
                </ion-item>

                <ion-item>
                    <label class="item item-input item-select item-light">
                        <span class="input-label">Commune *</span>
                        <select
                                ng-model="commune"
                                ng-options="commune.name for commune in communes.communes" ng-change="setCommunes(commune.id)" name="commune" required>
                        </select>
                    </label><br/>
                    <p ng-show="myForm.commune.$error.required"><span class="assertive">* Commune obligatoire</span></p>
                </ion-item>
            </form>
        </ion-list>

        <!-------     Order List          ------->
        <ion-list class="card" ng-show="orderList.length>0">
            <ion-item class="item-divider">Liste d'achat</ion-item>

            <ion-item class="item-button-right" ng-repeat="orderItem in orderList">
                <p>{{orderItem.name}}</p>
                <p>Taille : {{orderItem.size}}</p>
                <p>Quantité : {{orderItem.qte}}</p>
                <p><span ng-if="orderItem.promotion > 0">Prix : {{(orderItem.price - ((orderItem.price * orderItem.promotion) / 100)) * orderItem.qte}} DZD</span></p>
                <p><span ng-if="orderItem.promotion == 0">Prix : {{(orderItem.price) * orderItem.qte}} DZD</span></p>
                <button class="button button-assertive" ng-click="removeItem(orderItem)">
                    <i class="icon ion-ios-trash"></i>
                </button>
            </ion-item>

            <ion-item class="item-divider">
                <p ng-show="wilayascoast>0">Prix livraison
                    <span ng-if="wilayapromotion == 0" class="item-note">{{ wilayascoast }} DZD</span>
                    <span ng-if="wilayapromotion > 0"><del>{{ wilayascoast }} DZD</del> -{{wilayapromotion}}%</span>
                    &nbsp;<strong ng-if="wilayapromotion > 0"  class="item-note">{{wilayascoast - ((wilayascoast*wilayapromotion)/100)}} DZD</strong>
                </p>
                <p>Prix total<span class="item-note">{{ total() }} DZD</span></p>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <button ng-disabled="myForm.$invalid || orderList.length == 0" class="button button-block button-energized icon icon-left ion-android-checkbox-outline" ng-click="sendOrder()">
                    Envoyer la commande
                </button>
            </ion-item>
        </ion-list>

    </ion-content>

    <!-------     Navigation Tab         ------->

    <ion-tabs class="tabs-icon-top tabs-stable" ng-controller="tabCtrl">
        <ion-tab  title="Acceuil" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tab.home"></ion-tab>
        <ion-tab  title="Recherche" icon-on="ion-ios-search-strong" icon-off="ion-ios-search"  ui-sref="tab.search"></ion-tab>
        <ion-tab title="Panier" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="tab.order" disabled="tabStatus"></ion-tab>
    </ion-tabs>

</ion-view>
